<div class="page-header">
	<h1>
		Animals
		<a href="/animal/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			
		</a>
	</h1>
</div>


<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="animal.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading animals.....</p>
</div>


<table class="table table-bordered table-striped" ng-show="animal.animals">
	<thead>
		<tr>
			<th>_id</th>
			<th>type</th>
			<th>gender</th>
			<th>weight</th>
			<th>speed</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="animal in animal.animals">
			<td>{{ animal._id }}</td>
			<td>{{ animal.type }}</td>
			<td>{{ animal.gender }}</td>
			<td>{{ animal.weight }}</td>
			<td>{{ animal.speed }}</td>
			<td class="col-sm-2">
				<a ng-href="/animals/{{ animal._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="animal.deleteAnimal(animal._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>